<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--全局配置-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.pojo.Shop" alias="Shop"/>
        <typeAlias type="com.pojo.Users" alias="User"/>
        <typeAlias type="com.pojo.ImgFile" alias="ImgFile"/>
        <typeAlias type="com.pojo.Carousel" alias="Carousel"/>
        <typeAlias type="com.pojo.BfIntro" alias="BfIntro"/>
        <typeAlias type="com.pojo.Info" alias="Info"/>
        <!--<typeAlias type="com.pojo.Users" alias="Users"/>-->
        <!--<typeAlias type="com.pojo.Article" alias="Article"/>-->
        <!--<typeAlias type="com.pojo.Review" alias="Review"/>-->
        <package name="com.pojo"/>
    </typeAliases>

    <mappers>
        <!--<mapper class="com.dao.UsersMapper"/>-->
        <!--<mapper class="com.dao.ArticleMapper"/>-->
    </mappers>

    <!--pageHelper尚未配置-->

</configuration>
