<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service下的包-->
    <context:component-scan base-package="com.service"/>

    <bean id="userServiceImpl" class="com.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="fileServiceImpl" class="com.service.FileServiceImpl">
        <property name="fileMapper" ref="fileMapper"/>
    </bean>

    <bean id="carouselServiceImpl" class="com.service.CarouselServiceImpl">
        <property name="carouselMapper" ref="carouselMapper"/>
    </bean>

    <bean id="bfIntroServiceImpl" class="com.service.BfIntroServiceImpl">
        <property name="bfIntroMapper" ref="bfIntroMapper"/>
    </bean>

    <bean id="infoServiceImpl" class="com.service.InfoServiceImpl">
        <property name="infoMapper" ref="infoMapper"/>
    </bean>

    <bean id="productServiceImpl" class="com.service.ProductServiceImpl">
        <property name="productMapper" ref="productMapper"/>
        <property name="productImgMapper" ref="productImgMapper"/>
        <property name="productSelectionMapper" ref="productSelectionMapper"/>
    </bean>


    <!--声明式事务配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>