<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductImgMapper">

    <select id="queryProductImgByID" parameterType="int" resultType="ProductImg">
        select *
        from fooddelivered.product_img
        where itemid = #{itemid};
    </select>

    <insert id="addNewProductImg" parameterType="ProductImg">
        insert into fooddelivered.product_img(imgsrc, itemid)
        VALUES (#{imgsrc}, #{itemid});
    </insert>

    <delete id="deleteProductImgByID" parameterType="int">
        delete
        from fooddelivered.product_img
        where id = #{id};
    </delete>

    <delete id="deleteProductImgByItemID" parameterType="int">
        delete from fooddelivered.product_img where product_img.itemid = #{itemid};
    </delete>

</mapper>