<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductSelectionMapper">

    <select id="queryProductSelectionByID" resultType="ProductSelection" parameterType="int">
        select *
        from fooddelivered.product_selection
        where itemid = #{itemid};
    </select>

    <insert id="insertNewProductSelection">
        insert into fooddelivered.product_selection(`select`, itemid)
        VALUES (#{select}, #{itemid});
    </insert>

    <delete id="deleteProductSelectionByID" parameterType="int">
        delete
        from fooddelivered.product_selection
        where product_selection.id = #{id};
    </delete>

    <delete id="deleteProductSelectionByItemID" parameterType="int">
        delete from fooddelivered.product_selection where product_selection.itemid = #{itemid};
    </delete>

</mapper>