<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShopMapper">

    <select id="queryAllShop" resultType="Shop">
        select * from fooddelivered.shop_information;
    </select>

    <select id="queryShopByLocation" parameterType="int" resultType="Shop">
        select * from fooddelivered.shop_information where ShopLocation=#{ShopLocation};
    </select>


</mapper>